---
layout: layouts/base.njk
permalink: /
---
Hello this is the root index page. It is a nunjucks format, which means that markdown format is not available in the usual form. If the extension is changed to md this format works. Back to nunjucks for now as we follow the youtube three part series.

## youtube

[Building A Blog With Eleventy And Netlify CMS - Part 1: Creating The Eleventy Project](https://www.youtube.com/watch?v=Tq1XtMjlR28)