<html>
  <head>
    <title>
      Eleventy with Netlify CMS for a blog
    </title>
      <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    <h1>
      Eleventy with Netlify CMS for a blog
    </h1>
    {{ content | safe }}
  </body>
</html>