<html>
  <head>
    <title>
      Eleventy with Netlify CMS for a blog
    </title>
  </head>
  <body>
    <h1>
      Eleventy with Netlify CMS for a blog
    </h1>
    {{ content | safe }}
  </body>
</html>